/* 
    Created on : Feb 21, 2019, 11:59:36 PM
    Author     : Hayley Johnsey
    Modifications by Tristan Davis
*/

.root {
    -fx-background-color: #b0c4de;  /* light blue */
    -fx-border-color: #55759e;      /* dark blue */
}

.scene {
    -fx-background-color: #b0c4de;  /* light blue */
    -fx-border-color: #55759e;      /* dark blue */
}

.stack-pane {
    -fx-background-color: #b0c4de;  /* light blue */
    -fx-border-color: #819dc0;      /* medium blue */
}

.scroll-pane {
    -fx-background-color: #819dc0;  /* medium blue */
    -fx-border-color: #819dc0;      /* dark blue */

}

.scroll-pane:highlight {
    -fx-background-color: #F1cf77;  /* yellow */
    -fx-border-color:     #F1cf77;  /* yellow */
}

.scroll-pane .viewport {
    -fx-background-color: #819dc0;  /* medium blue */
    -fx-border-color: #819dc0;      /* medium blue */

}

.scroll-pane:highlight .viewport {
  -fx-background-color: #f1cf77;    /* yellow */
  -fx-border-color:     #f1cf77;    /* yellow */

}

.button {
    -fx-font-family: arial; 
    -fx-text-fill: #dae5f3;         /* extra light blue */
    -fx-background-color: #55759e;  /* dark blue */
}

.button:hover {
    -fx-background-color: #819dc0;  /* medium blue */
}

.hbox {
    -fx-border-color: #55759e transparent transparent #55759e;    /* dark blue */
    -fx-border-width: 2pt;
}

.vbox {
    -fx-border-color: #55759e transparent transparent #55759e;    /* dark blue */
    -fx-border-width: 2pt;
}

.text-area {
    -fx-font-family: arial;
    -fx-text-fill: #dae5f3;         /* extra light blue */
}

.text-area .content {
    -fx-background-color: #819dc0;  /* medium blue */
    -fx-border-color: #55759e;      /* dark blue */
    -fx-border-width: 4pt;
}

.menu-bar {
    -fx-background-color: #55759e;  /* dark blue */

}

.menu-bar .label {
    -fx-text-fill: #dae5f3;         /* extra light blue */
}

.context-menu { 
    -fx-background-color: #55759e   /* dark blue */
}

.menu-bar .container .menu-button:hover {
    -fx-background-color: #819dc0;  /* medium blue */
}

/* TableView styling */
.table-view {
    -fx-font-family: arial;
    -fx-background-color: #819dc0;  /* medium blue */
    -fx-text-fill: #b0c4de;         /* light blue */
}

.table-view .column-header {
   -fx-background-color: #55759e;   /* dark blue */
}


.table-view .column-header .label {
   -fx-font-family: arial;
   -fx-text-fill: #dae5f3;          /* extra light blue */
}



.table-column {
    -fx-alignment: CENTER;
    -fx-border-color: #55759e transparent transparent #55759e;    /* dark blue */
}

.table-view .column-header.major {
    -fx-alignment: CENTER;
    -fx-border-color: #81caa3 transparent transparent #81caa3;    /* green */
    -fx-background-color: #81cAA3;   /* green */
}

.table-view .column-header.major .label {
    -fx-text-fill: #0C4828; /* dark green */
}

.table-view .table-column.minorEdge {
    -fx-border-width: 1 1 1 4;
    -fx-border-color: #55759e transparent transparent  #81caa3;    /* dark blue */
}

.table-row-cell {
    -fx-font-family: arial;
    -fx-text-fill: #b0c4de;         /* light blue */
    -fx-background-color: #819dc0;  /* medium blue */

}

/* Highlight is used for the table with buttons, scheduleGantt/scheduleWeek */
.table-row-cell:highlight {
  -fx-background-color: #F1cf77;
  -fx-border-color: #F1cf77 !important;
  -fx-padding: 0 -2 0 0;
}

/* Highlight list is used for the traditional table, scheduleList */
.table-row-cell:highlightList {
  -fx-background-color: #F1cf77;
  -fx-border-color: #F1cf77 !important;
  -fx-padding: 0 -2 0 0;
}

.table-row-cell:highlightList .text {
    -fx-fill: black;
}

/* ComboBox styling */
.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box .list-cell {
    -fx-font-family: arial;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box .cell {
    -fx-font-family: arial;
    -fx-text-fill: #dae5f3;         /* extra light blue */
    -fx-background-color: #819dc0;  /* medium blue */
}

/* List view styling */
.list-view .list-cell {
     -fx-font-family: arial;
     -fx-background-color: #819dc0;  /* medium blue */
 }

 .list-view:header .list-cell {
    -fx-font-family: arial;
    -fx-text-fill: #dae5f3;          /* extra light blue */
    -fx-background-color: #55759e;   /* dark blue */

 }

/* TabPane styling */
.tab-pane .tab-header-background {
    -fx-text-fill: #dae5f3;          /* extra light blue */
    -fx-background-color: #819dc0;   /* medium blue */
}

.tab-pane .tab {
    -fx-background-color: #55759e;   /* dark blue */
    -fx-border-color: #819dc0 #819dc0 #55759e #819dc0;   /* dark blue */
}

.tab-pane .tab-label {
    -fx-font-family: arial;
    -fx-text-fill: #dae5f3;
}

.label {
    -fx-font-family: arial;
    -fx-text-fill: #dae5f3;
}

TextFlow {
    -fx-background-color: #55759e;  /* dark blue */
}

.text {
    -fx-fill: #dae5f3; /* extra light blue */
}