/*
Project Description: ReportPopupCSS
Author: Hayley Johnsey
Date:   4-8-19
*/

.root {
    -fx-background-color: #dae5f3;  /* light blue */
    -fx-border-color: #55759e;      /* dark blue */
}
.scene {
    -fx-background-color: #55759e;  /* dark blue */
    -fx-border-color: #55759e;      /* dark blue */
}
.button {
    -fx-font-family: arial; 
    -fx-text-fill: #dae5f3;         /* extra light blue */
    -fx-background-color: #55759e;  /* dark blue */
}
.button:hover {
    -fx-background-color: #819dc0;  /* medium blue */
}
.label {
    -fx-font-family: arial;
    -fx-text-fill: #55759e; /* dark blue */
    -fx-background-color: #dae5f3;  /* extra light blue */
}
